body{
    background-color:rgb(51, 102, 153);
    margin: 40px;
    color: white;
}

h1{
    font-size: 52px;
}

#temp{
    font-size: 42px;
}

#other-details-row{
    padding-top: 40px;
}

#temp-link{
    text-decoration: none;
    cursor: pointer;
    color: gray;
}

#weather-icon{
    transform: scale(4);
    transition: 2s;
}

 .value-text{
     font-size: 40px;
 }